@media (max-width: 720px) and (orientation: landscape) {

  h1 {
    font-size: 1em;
  }

  h3 {
    font-size: .5em;
  }

    button {
    border: .1rem;
    width: auto;
    height: 15%;
    font-size: .5em;
  }

  .backgroundAnimation{
    animation: slideright 25s infinite linear;
  }

  .dino{
    width: 6.1vw;
    height: 15vh;
    animation: play2 .4s steps(6) infinite;
    -webkit-animation: play2 .4s steps(6) infinite;
    -moz-animation: play2 .4s steps(6) infinite;
    -ms-animation: play2 .4s steps(6) infinite;
    -o-animation: play2 .4s steps(6) infinite;
    }
    
  @keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-webkit-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-moz-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-ms-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-o-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }

}

@media (max-height: 720px) and (orientation: portrait) {

  h1 {
    font-size: 1em;
  }

  h3 {
    font-size: .5em;
  }

    button {
    border: .1rem;
    width: auto;
    height: 15%;
    font-size: .5em;
  }

  .backgroundAnimation{
    animation: slideright 2000s infinite linear;
  }


  .dino{
    width: 7vw;
    height: 6vh;
    animation: play2 1s steps(6) infinite;
    -webkit-animation: play2 1s steps(6) infinite;
    -moz-animation: play2 1s steps(6) infinite;
    -ms-animation: play2 1s steps(6) infinite;
    -o-animation: play2 1s steps(6) infinite;
    }
    
  @keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -37vw;}
  }
    
  @-webkit-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-moz-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-ms-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
    
  @-o-keyframes play2 {
    from {background-position: -0vw;}
    to {background-position: -40.1vw;}
  }
}


