@media(max-width: 900px) {
  h1 {
    font-size: 1em;
  }

  h3 {
    font-size: .5em;
  }

  #menu{
    top:0;
  }

  button {
    border: .1rem;
    width: auto;
    height: 15%;
    font-size: .5em;
  }

}

@media(max-height: 900px) {
  h1 {
    font-size: 1rem;
  }

  h3 {
    font-size: .5em;
  }

  button {
    border: .1rem;
    width: auto;
    height: 15%;
    font-size: .5em;
  }

}