body{
  background: lightgray;
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  font-weight: bold;
}

.title{
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 2rem;
}

#title{
  font-size: 3rem;
  color: darkgray;
}

.instruction{
  font-size: .4em;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 0.2rem;
  text-justify: distribute;
  text-align: center;
}

.button{
  display: flex;
  color: black;
  background-color: darkgray;
  border: 0.1rem black solid;
  border-radius: 30rem;
  font-family: 'Press Start 2P', cursive;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  width: auto;
  height: auto;
}

.restart{
  writing-mode:vertical-lr;
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.dino{
  width: 5vw;
  height: 12vh;
  background-size: cover;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.cactus{
  width: 2vw;
  height: 10vh;
  background-image: url("./imgs/cactus2.png");
  background-size: cover;
  position: absolute;
  bottom: 0vh;
  margin-bottom: 0.8rem;
  margin-left: 1rem;
}


@keyframes slideright {
  from{
    background-position: -70000%;
  }
  to{
    background-position: 0;
  }
}

.animaDino {
  background-image:url(./imgs/dino3.png);
  background-repeat: no-repeat;
  animation:play2 .3s steps(6) infinite;
  -webkit-animation: play2 .3s steps(6) infinite;
  -moz-animation: play2 .3s steps(6) infinite;
  -ms-animation: play2 .3s steps(6) infinite;
  -o-animation: play2 .3s steps(6) infinite;
}
  
@keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.7vw;}
}

@-webkit-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.7vw;}
}

@-moz-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.7vw;}
}

@-ms-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.7vw;}
}

@-o-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.7vw;}
}

.lastScore{
  display: flex;
  text-justify: distribute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

