html{
font-family: 'Press Start 2P', cursive;
display: flex;
}

.fullScreenW{
  width: 100vw;
}

.fullScreenH{
  height: 100vh;
}

.fullW{
  width:100%;
}

.fullH{
  height:100%;
}

.margG{
  margin: .5rem;
}

.margM{
  margin: .3rem;
}

.margP{
  margin: .1rem;
}

.paddG{
  padding: .5rem;
}

.paddM{
  padding: .3rem;
}

.paddP{
  padding: .1rem;
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}

.hor{
  flex-direction: row;
}

.vert{
  flex-direction: column;
}

.absolute {
  position:absolute;
}

.sizeCover{
  background-size: cover;
}

.night{
  filter: invert(100%);
}

.rowReverse{
  flex-direction: row-reverse;
}

.columnReverse{
  flex-direction: column-reverse;
}

#background {
  top: auto;
  background-image: url('./imgs/background.png');
  background-repeat: repeat-x;
  background-size: cover;
  
}

.backgroundAnimation{
  animation: slideright 500s infinite linear;
}

@keyframes slideright {
  from{
    background-position: -70000%;
  }
  to{
    background-position: 0;
  }
}

#menu{
  background-color: lightgray;
  border-radius: .5rem;
}

#clock{
  border-bottom: black 1px solid;
}

h1 {
  font-size: 2.5em;
  color: darkgray;
}

h3 {
  font-size: 1em;
}

button {
  color: black;
  background-color: darkgray;
  border: .2rem black solid;
  border-radius: 10%;
  font-size: 1em;
  font-family: 'Press Start 2P', cursive;
}

.pug{
  width: 70px;
  height: 40px;
  background-size: cover;
  background-image:url(./imgs/pugRun.gif);
  position: absolute;
  bottom: .2vh;
  left: .2vw;
  
}


  /*
.dino{
  width: 10vw;
  height: 10vh;
  background-size: cover;
  background-image:url(./imgs/pugRun.gif);
  position: absolute;
  bottom: .2vh;
  left: .2vw;
}



  animation:play2 .4s steps(6) infinite;
  -webkit-animation: play2 .4s steps(6) infinite;
  -moz-animation: play2 .4s steps(6) infinite;
  -ms-animation: play2 .4s steps(6) infinite;
  -o-animation: play2 .4s steps(6) infinite;
}

@keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.4vw;}
}

@-webkit-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.4vw;}
}

@-moz-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.4vw;}
}

@-ms-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.4vw;}
}

@-o-keyframes play2 {
  from {background-position: -0vw;}
  to {background-position: -30.4vw;}
}
